body{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
}
main {
  background: url("images/body.png") center center/cover;
  background-attachment: fixed;
}
/* html {
  scroll-behavior: smooth;
} */
header{
  background: url("images/header.jpg") center center/cover;
  display: flex;
  height: auto;
  background-attachment: fixed;
}
a {
  color: unset;
}
a:hover {
  color: unset;
  text-decoration: none;
}

.blockHeader {
  width: 50%;
  margin: auto;
  padding: 120px 0px;
  text-align: center;
}
.blockHeader .container {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-around;
}

/* bouton header */
.blockHeader .container .info {
  font-family: 'Nunito', sans-serif;
  background-color: unset;
  border: 2px solid white;
  color: white;
  padding: 20px;
  font-weight: 400;
  width: 48%;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: larger;
  box-shadow: 0px 0px 2px #00000069;
  text-shadow: 1px 1px 2px black;
  transition: all 0.3s ease-out;
}
.blockHeader .container .info:hover {
  background-color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
}
.blockHeader .container .info:hover span {
  background: url("images/header.jpg") no-repeat center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.blockHeader .container .download {
  font-family: 'Nunito', sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-weight: 400;
  width: 48%;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: larger;
  box-shadow: 0px 0px 2px #00000069;
  transition: all 0.3s ease-out;
}
.blockHeader .container .download span {
  background: url("images/header.jpg") no-repeat center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.blockHeader .container .download:hover {
  background-color: unset;
  text-shadow: 1px 1px 2px black;
  color: white;
}
.blockHeader .container .download:hover span {
  background: none;
  color: white;
  -webkit-text-fill-color: unset;
  -webkit-background-clip: none;
}

/* end bouton header */

.blockHeader h1 {
  font-family: "Nunito";
  font-weight: 300;
  color: white;
  font-size: 60px;
  letter-spacing: .2rem;
  padding: 30px 0 0 0;
}
.blockHeader h2 {
  font-family: "Nunito";
  color: white;
  font-weight: 200;
  font-style: italic;
  font-size: 27px;
}

p {
  font-family: "Nunito";
  font-weight: 200;
  color: #063e3f;
}

.allheight{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* section 1 - en savoir plus */
.carousel {
  width: 48%;
  display: inline-table;
}
.carousel p {
  color: white;
}
.carousel .carousel-caption {
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 0px;
  margin-bottom: 20px;
}
.section1 {
  padding: 100px 50px 100px 70px;
  text-align: center;
  background: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%);
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  height: auto;
}
.section1 img {
  width: 100%;
  height: auto;
}
.section1 h3 {
  font-family: "Nunito";
  font-weight: 300;
  color: #063e3f;
  font-size: 30px;
}

.section1 .itemsInfos {
  width: 50%;
  padding: 40px;
  padding-top: 0;
}
.section1 .texte {
  width: 100%;
  margin-top: 10px;
  padding: 15px 20px 15px 15px;
}

.section1 .bigContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section1 .bigContainer .items {
  width: 49%;
  background-color: white;
  box-shadow: 0px 0px 6px #00000021;
  margin-top: 5px;
  padding: 10px;
}
.section1 .bigContainer .items.un {
  border-bottom: 3px solid #ef8257;
}
.section1 .bigContainer .items.deux {
  border-bottom: 3px solid #68e79c;
}
.section1 .bigContainer .items.trois {
  border-bottom: 3px solid #d7d7ff;
}
.section1 .bigContainer .items.quatre {
  border-bottom: 3px solid #ffce00;
}
.section1 .bigContainer .items img {
  width: 30%;
}

/* TARIFS */
.bgMountain {
  background: url("images/bg3.png") center center/cover;
}
.tarifs {
  height: 100vh;
  padding: 100px 0;
}
.tarifs img {
  width: 40px;
}
.tarifs table {
  width: 80%;
  margin: auto;
}
.tarifs tbody {
  text-align: center;
}
.tarifs th {
  padding: 10px 5px;
  font-family: "Nunito";
  font-weight: 300;
  color: #063e3f;
  font-size: 25px;
}
.tarifs td {
  padding: 30px 5px;
  font-family: "Nunito";
  font-weight: 200;
  color: #063e3f;
}
.tarifs .lightBg {
  background-color: rgba(255, 255, 255, 0.8);
}

/* TELECHARGEMENT */

.telechargement {
  background: url("images/bgdl.jpg") center center/cover;
  background-attachment: fixed;
  padding: 100px 50px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.telechargement h3 {
  font-weight: 300;
  color: #063e3f;
  font-size: 30px;
}
.telechargement .blockDownload {
  width: 30%;
  text-align: center;
}

.telechargement .imagedl {
  width: 70%;
}
.telechargement img {
  width: 100%;
  height: auto;
}

/*
* SECTION 5 : FOOTER
*/

.mention-block{
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px;
}
.mention-block p{
  width: 32vw;
  margin: 0;
}

/* RESPONSIVE */

@media screen and (max-width: 1280px) {
  .blockHeader {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .section1 {
    display: block;
    padding-top: 50px;
  }
  .section1 .itemsInfos {
    width: 100%;
  }
  .section1 .carousel {
    width: 100%;
  }
  .telechargement {
    padding: 50px;
  }
}

@media screen and (max-width: 959px) {
  .blockHeader {
    width: 90%;
  }
  .telechargement {
    display: block;
  }
  .telechargement .imagedl {
    width: 100%;
  }
  .telechargement .blockDownload {
    width: 100%;
  }
  .telechargement .blockDownload img {
    max-width: 400px;
  }
}

@media screen and (max-width: 634px) {
  .blockHeader {
    padding: 0;
  }
  .section1 .itemsInfos {
    padding: 0;
    margin-bottom: 30px;
  }
}
